[project]
	description = Alerte mail et RSS pour Leboncoin.fr
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jbremond
[access "refs/for/refs/*"]
	read = group user/jbremond
	push = group user/jbremond
	label-Code-Review = -2..+2 group user/jbremond
	label-Verified = -1..+1 group user/jbremond
	rebase = group user/jbremond
	removeReviewer = group user/jbremond
	submit = group user/jbremond
[access "refs/heads/*"]
	read = group user/jbremond
	create = group user/jbremond
	push = +force group user/jbremond
	pushMerge = group user/jbremond
[access "refs/tags/*"]
	push = +force group user/jbremond
	pushTag = group user/jbremond
	pushSignedTag = group user/jbremond
